pyrogram==2.0.106
tgcrypto
requests
pyromod
aiohttp
aiofiles
asyncio
humanize
wget
yt-dlp
hachoir
bs4
httpx[http2]
img2pdf
tglogging
sudo apt update
sudo apt install ffmpeg git python3-pip
git clone https://gitHub.com/rishavdevkr/maal
cd maal 
pip3 install -r requirements.txt
python3 -m main
